/* HEADER WRAPPER */
.main-header {
    width: 100%;
    position: fixed;
    top: 10px;
    left: 0;
    background: none;
    transition: all 0.5s ease-in-out;
    z-index: 999;
    
    .container {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        background: #ffffff;
        padding: 20px 0;
        border-radius: 999px;
                border: 1px solid rgba(255, 255, 255, 0); /* soft glass border */
    transition: all 0.5s ease-in-out;

    }
}

/* HEADER WHEN SCROLLED */
.main-header.scrolled {
    background: none;
    box-shadow: none;
    top: 10px;

    .container {
        background: rgba(255, 255, 255, 0.35);   /* semi-transparent */
        backdrop-filter: blur(14px) saturate(180%); /* frosted blur */
        -webkit-backdrop-filter: blur(14px) saturate(180%);
        border-radius: 999px;
        border: 1px solid rgba(255, 255, 255, 0.45); /* soft glass border */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);  /* subtle floating shadow */
        transition: 0.3s ease;
    }
    .nav-links a{
        color: rgb(0, 0, 0);
    }
}



/* INNER CONTAINER */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
    width: 110px;
}

.logo span {
    font-size: 20px;
    font-weight: 700;
    color: #1d4ed8;
    font-family: Urbanist;
}

/* NAVIGATION MENU */
.nav-links {
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav-links a {
    text-decoration: none;
    font-size: 15px;
    color: #444;
    font-weight: 500;
    transition: 0.3s;
}



.nav-links a.active,
.nav-links a:hover {
    color: #1d4ed8 !important;
    font-weight: 600;
}

/* RIGHT SIDE: CART + PROFILE */
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    cursor: pointer;
}

/* PROFILE IMAGE */
.profile {
    position: relative;
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* ONLINE GREEN DOT */
.online-dot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: #16c60c;
    border-radius: 50%;
    border: 2px solid #fff;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .nav-links {
        display: none;
    }
}