
<section class="mavin-category-section" id="shop-category">
  <h2 class="section-title">Shop by Category</h2>

  <div class="container">
      <div class="category-slider">
    <div
      class="cat-card"
      *ngFor="let category of categories"
      (click)="goToCategory(category.name)"
    >
      <!-- Placeholder / default image -->
      <img
         [src]="category.image" [alt]="category.name"/>
      <h4>{{ category?.name }}</h4>
    </div>
  </div>
  </div>
</section>

<section class="mavin-products-section">
  <div class="container">
    <h2 class="section-title">Our Bestsellers</h2>

    <div class="products-grid">
      <div
        class="product-card"
        *ngFor="let product of topProducts"
      >
        <img [src]="product.images[0]" alt="{{ product.name }}" />

        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>

        <div class="p-body">
          <span class="price">₹{{ product.price }}</span>
          <button (click)="goToDetails(product.id)">
            View Details
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
