<section class="mavin-category-section"   id="shop-category">
  <h2 class="section-title">Shop by Category</h2>

  <div class="category-slider">

    <div class="cat-card">
      <img src="assets/images/cat-cleanser.png" alt="Cleansers">
      <h4>Cleansers</h4>
    </div>

    <div class="cat-card">
      <img src="assets/images/cat-serum.png" alt="Serums">
      <h4>Serums</h4>
    </div>

    <div class="cat-card">
      <img src="assets/images/cat-moist.png" alt="Moisturizers">
      <h4>Moisturizers</h4>
    </div>

    <div class="cat-card">
      <img src="assets/images/cat-mask.png" alt="Masks">
      <h4>Masks</h4>
    </div>

  </div>
</section>



<section class="mavin-products-section">
  <div class="container">
    <h2 class="section-title">Our Bestsellers</h2>

    <div class="products-grid">

      <div class="product-card" *ngFor="let product of products">
              <img [src]="product.image" alt="" />
              <h3>{{ product.name }}</h3>
              <p>{{ product.description }}</p>
        <div class="p-body">
          <span class="price">₹{{ product.price }}</span>
          <button (click)="goToDetails(product.id)">View Details</button>
        </div>
      </div>

    </div>
  </div>
</section>