.section-title {
  text-align: center;
  font-size: 28px;
  color: #123a70;
  margin-bottom: 35px;
  font-weight: 600;
}

/* CATEGORY SECTION */
.mavin-category-section {
  padding: 60px 20px;
  background: #f7fbff;
}

.category-slider {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.cat-card {
  width: 220px;
  background: white;
  border-radius: 18px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 8px 22px rgba(0, 60, 130, 0.1);
  transition: 0.3s ease;
  border: 1px solid #e2eefe;
  cursor: pointer;
}

.cat-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.cat-card h4 {
  padding: 15px 0;
  color: #1959ad;
  font-size: 17px;
}

.cat-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0, 60, 130, 0.18);
}

/* BESTSELLER PRODUCTS */
.mavin-products-section {
  padding: 70px 0px;
  background: linear-gradient(to bottom, #f0f6ff, #ffffff);
}

.products-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.product-card {
  background: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 8px 22px rgba(0, 60, 130, 0.12);
  transition: 0.3s ease;
  border: 1px solid #dbe9ff;
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.product-card .p-body {
  padding: 18px;
}

.product-card h3 {
  font-size: 18px;
  color: #0f3970;
}

.product-card p {
  font-size: 14px;
  color: #476b8f;
  margin: 8px 0 12px;
  line-height: 20px;
}

.price {
  display: block;
  font-weight: bold;
  color: #0a4aa5;
  margin-bottom: 12px;
}

.product-card button {
  width: 100%;
  background:#1d4ed8;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s;
}

.product-card button:hover {
  background: #4c73de;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 34px rgba(0, 60, 130, 0.22);
}
@media (max-width: 900px){

  .mavin-products-section{
    padding: 70px 0px 0px 0px;
  }
  
}