<section class="hero-section">
<div class="container">
      <div class="hero-container">

    <div class="hero-left">
      <h4 class="hero-subtitle">Mavin Pharmaceuticals</h4>

      <h1 class="hero-title">
        Personal Care For Your <br />
        Healthy <span>Living</span>
      </h1>

      <p class="hero-desc">
        Delivering newer molecules from our state of the art laboratories.
      </p>

      <button class="hero-btn" (click)="scrollToCategory()">Start Your Routine</button>
    </div>

  </div>
</div>
</section>
