.about-us-section {
    position: relative;
    background: url('../../../../assets/images/pharmacist-checking-medicines-drugstore.jpg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    padding: 40px;
    overflow: hidden;
    border-bottom-left-radius: 52px;
}

/* RIGHT → LEFT (white → transparent) */
.about-us-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;     /* start from right */
    width: 100%;   /* adjust as needed */
    height: 100%;
background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 50%,     /* solid white */
    rgb(255, 255, 255) 10%, /* very small fade */
    rgba(255, 255, 255, 0.013) 100% /* 20% transparent */
);

    z-index: 1;
}

/* content above overlay */
.about-us-section > * {
    position: relative;
    z-index: 2;
}
.about-container {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: end;
}
.about-right{
    width: 50%;
}

.section-subtitle {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #1d4ed8;
  margin-bottom: 10px;
}

.section-title {
  font-size: 34px;
  font-weight: 800;
  color: #1a1f36;
  line-height: 1.3;
  margin-bottom: 20px;
}

.section-desc {
  color: #556070;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* FEATURES GRID */
.about-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 20px;
  margin-bottom: 30px;
}

.feature-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.feature-item i {
  font-size: 32px;
  color: #1d4ed8;
}

.feature-item h3 {
  font-size: 16px;
  font-weight: 700;
  color: #21305d;
}

.feature-item p {
  font-size: 14px;
  color: #697180;
  line-height: 1.5;
}

/* BUTTONS */
.about-btns {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.btn-primary {
  background: #1d4ed8;
  color: #fff;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #133ba3;
}

.btn-outline {
  border: 2px solid #1d4ed8;
  padding: 12px 25px;
  border-radius: 6px;
  color: #1d4ed8;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn-outline:hover {
  background: #1d4ed8;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-features {
    grid-template-columns: 1fr;
  }
}
