<section class="about-us-section">
    <div class="container ">
        <div class="about-container">
            <div class="about-right py-4">
                <span class="section-subtitle">ABOUT US</span>
                <h2 class="section-title">
                    We Employ Latest Research <br />
                    Technology & Company
                </h2>

                <p class="section-desc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when essentially unchanged.
                </p>

                <div class="about-features">
                    <div class="feature-item">
                        <i class="fa-solid fa-flask-vial"></i>
                        <div>
                            <h3>Medical Laboratory Technician</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                        </div>
                    </div>

                    <div class="feature-item">
                        <i class="fa-solid fa-certificate"></i>
                        <div>
                            <h3>NABL Certificate Management</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                        </div>
                    </div>
                </div>

                <!-- BUTTONS -->
                <div class="about-btns">
                    <a class="btn-primary" [routerLink]="'products'">View Catalog</a>
                    <a class="btn-outline" [routerLink]="'about-us'">Read More!</a>
                </div>
            </div>

        </div>
    </div>
</section>