.main-details-div{
    padding: 120px 0px;
}
.details-container {
  display: flex;
  gap: 40px;
}

/* LEFT */
.left-box {
  flex: 1;
}

.main-image{
  width: 100%;
  height: 400px; /* adjust based on design */
  overflow: hidden;
  border-radius: 12px;
}
.back-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
}

.back-arrow {
  font-size: 24px;
  cursor: pointer;
  transition: 0.2s ease;
}

.back-arrow:hover {
  transform: translateX(-4px);
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* fills the div without distortion */
  object-position: center; /* centers the subject */
  display: block;
}


.thumb-row {
  display: flex;
  gap: 10px;
  margin-top: 14px;
}

.thumb-row img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumb-row img.active {
  border-color: #27ae60;
}

/* RIGHT INFO */
.right-box {
  flex: 1;
}

.price {
  font-size: 26px;
  font-weight: 700;
  margin: 10px 0;
}

.cart-btn {
  background:#1d6dd8;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.2s;
}

.cart-btn:hover {
  background: #1ea456;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.tab {
  background: #f2f2f2;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.tab.active {
  background: #1d6dd8;
  color: #fff;
}

.tab-content {
  background: #fff;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
