/* You can add global styles to this file, and also import other style files */
@import './app/themes/button_styles';
@import './app/themes/scroll_bar.scss';
@import './app/themes/typo.scss';


/* 4️⃣ Global CSS */
* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  overflow-x: hidden;
font-family: Urbanist;
}

html, body { height: 100%; }
